{% extends "user_profile/base_user.html" %}
{% block content %}

    <h2>Conditions générales d'utilisation</h2>
    <p>Le présent document a pour objet de décrire les conditions d'utilisation du site.</p>

    <p>Pour l'utilisateur, le fait de créer un compte implique l'acceptation des conditions décrites ci-après</p>

    <h3>Propriété intellectuelle</h3>
    <p>Tous les éléments du site sont libres de droit. Leur utilisation, y compris à des fins commerciales, est autorisée à condition d'en indiquer l'origine</p>

    <h3>Liens hypertextes</h3>
    <p>Il est possible de créer un lien vers toute page du site sans autorisation préalable. Il convient d'afficher cette page dans une nouvelle fenêtre ou onglet.</p>
    <p>L'éditeur se reserve le droit de demander la suppression d'un lien qu'il estime inadequat.</p>

    <h3>Responsabilités de l'utilisateur</h3>
    <p>Les données relatives aux profils utilisateurs, aux commerces et au catalogue ne sont pas modérés. Ils sont sous la responsabilité de leur auteur qui en garantit l'exactiture.
    En particulier, ces informations ne doivent pas être mensongères sous peine d'exclusion du service.</p>

    <h3>Accès au site</h3>
    <p>Le site est accessible 24 heures sur 24, 7 jours sur 7, sauf cas de force majeure ou évènement hors du contrôle de l'éditeur.</p>

    <h3>Modification des conditions d’utilisation</h3>
    <p>L’éditeur se réserve la possibilité de modifier, à tout moment et sans préavis, les présentes conditions d’utilisation afin de les adapter aux évolutions du site, de son exploitation et/ou de la legislation.</p>

    <h3>Droit applicable</h3>
    <p>Tant le présent site que les modalités et conditions de son utilisation sont régis par le droit français, quel que soit le lieu d’utilisation. En cas de contestation éventuelle, et après l’échec de toute tentative de recherche d’une solution amiable, les tribunaux français seront seuls compétents pour connaître de ce litige.</p>

{% endblock %}