{% extends "user_profile/base_user.html" %}
{% load staticfiles %}

{% block content %}

    <link rel="stylesheet" href="{% static 'user_profile/registerform.css' %}"/>

    <div id="fheader">
        <form id="form-signup" action="{% url 'user_profile:change_password' %}" method="post">{% csrf_token %}
            <h2>Changez votre mot de passe</h2>

            <div class="fieldWrapper">
                {{ form.old_password.errors }}
                <label>Ancien mot de passe :</label><br>
                {{ form.old_password }}
            </div>
            <br>

            <div class="fieldWrapper">
                {{ form.new_password1.errors }}
                <label>Nouveau mot de passe :</label><br>
                {{ form.new_password1 }}
            </div>
            <br>

            <div class="fieldWrapper">
                {{ form.new_password2.errors }}
                <label>Confirmation du nouveau mot de passe :</label><br>
                {{ form.new_password2 }}
            </div>

            <br/>
            <input type="submit" name="submit" class="btn btn-primary" value="Valider">
        </form>
        <div class="fclear"></div>
    </div>
{% endblock %}