{% load i18n %}{% autoescape off %}
Bonjour {{ user.get_username }},

    Vous recevez ce mail car vous avez demandé à réinitialiser le mote de passe de votre compte sur {{ site_name }}.

 Merci de cliquer sur le lien dessous et de choisir un nouveau mot de passe.
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'user_profile:password_reset_confirm' uidb64=uid token=token %}
{% endblock %}

Merci d'utiliser notre site !

{% blocktrans %}L'équipe de  {{ site_name }} {% endblocktrans %}

{% endautoescape %}
