{% extends "user_profile/base_user.html" %}

{% block content %}

    {% if validlink %}
        <h2>Changement de mot de passe</h2>
        <p> Merci de saisir votre nouveau mot de passe.</p>

        <form action="" method="post">{% csrf_token %}
            {{ form.new_password1.errors }}
            <p class="aligned wide"><label for="id_new_password1">Nouveau mot de passe</label>{{ form.new_password1 }}
            </p>
            {{ form.new_password2.errors }}
            <p class="aligned wide"><label for="id_new_password2">Confirmez le nouveau mot de
                passe</label>{{ form.new_password2 }}</p>

            <p><input type="submit" value="Changer mon mot de passe"/></p>
        </form>

    {% else %}
        <p>Ce lien n'est plus valide, peut-être car il a déjà été utilisé. Merci de réitérer votre demande.</p>

    {% endif %}

{% endblock %}
