{% extends "user_profile/base_user.html" %}
{% load staticfiles %}

{% block extrastyle %}
    <link rel="stylesheet" href="{% static 'wineshops/form.css' %}"/>
{% endblock %}

{% block script %}
    <script src='https://www.google.com/recaptcha/api.js'></script>
{% endblock %}


{% block content %}

    <link rel="stylesheet" href="{% static 'user_profile/registerform.css' %}"/>

    <div id="fheader">
        <form id="form-signup" action="/user_profile/sign_up/" method="post">{% csrf_token %}
            <h2>Créez votre compte</h2>
            <table>
                <tbody>
                <tr>
                    <th><label>{{ form.username.label }} :</label></th>
                    <td>{{ form.username }}</td>
                    <td>{{ form.username.errors }}</td>
                </tr>
                <tr>
                    <th><label>{{ form.email.label }} :</label></th>
                    <td>{{ form.email }}</td>
                    <td>{{ form.email.errors }}</td>
                </tr>
                <tr>
                    <th><label>{{ form.password1.label }} :</label></th>
                    <td>{{ form.password1 }}</td>
                    <td>{{ form.password1.errors }}</td>
                </tr>
                <tr>
                    <th><label>{{ form.password2.label }} :</label></th>
                    <td>{{ form.password2 }}</td>
                    <td>{{ form.password2.errors }}</td>
                </tr>
                <tr>
                    <th><label>{{ form.captcha.label }} :</label></th>
                    <td>{{ form.captcha }}</td>
                    <td>{{ form.captcha.errors }}</td>
                </tr>
                <tr>
                    <th><label>J'ai lu et j'approuve <a href="{% url 'user_profile:contract' %}">les conditions
                        d'utilisation</a></label>{{ form.contract_check }}</th>
                    <td></td>
                    <td>{{ form.contract_check.errors }}</td>
                </tr>

                <tr>
                    <th></th>
                    <td></td>
                </tr>
                <tr>
                    <th></th>
                    <td><h4>Informations de facturation</h4></td>
                </tr>

                <tr>
                    <th><label>{{ form.last_name.label }} :</label></th>
                    <td>{{ form.last_name }}</td>
                    <td>{{ form.last_name.errors }}</td>
                </tr>
                <tr>
                    <th><label>{{ form.first_name.label }} :</label></th>
                    <td>{{ form.first_name }}</td>
                    <td>{{ form.first_name.errors }}</td>
                </tr>

                <tr>
                    <th><label>{{ form.name.label }} :</label></th>
                    <td>{{ form.name }}</td>
                    <td>{{ form.name.errors }}</td>
                </tr>
                <tr>
                    <th><label>{{ form.address.label }} :</label></th>
                    <td>{{ form.address }}</td>
                    <td>{{ form.address.errors }}</td>
                </tr>
                <tr>
                    <th><label>{{ form.zip_code.label }} :</label></th>
                    <td>{{ form.zip_code }}</td>
                    <td>{{ form.zip_code.errors }}</td>
                </tr>
                <tr>
                    <th><label>{{ form.city.label }} :</label></th>
                    <td>{{ form.city }}</td>
                    <td>{{ form.city.errors }}</td>
                </tr>
                <tr>
                    <th><label>{{ form.VAT.label }} :</label></th>
                    <td>{{ form.VAT }}</td>
                    <td>{{ form.VAT.errors }}</td>
                </tr>
                </tbody>
            </table>


            <br><br>

            <div class="center">
                <input type="submit" name="submit" class="btn btn-primary" value="Créer">
            </div>
        </form>
        <div class="fclear"></div>
    </div>


{% endblock %}