{% extends "wineshops/base_wineshops.html" %}
{% load staticfiles %}

{% block extrastyle %}
    <link rel="stylesheet" href="{% static 'wineshops/form.css' %}"/>
    <link rel="stylesheet" href="{% static 'wineshops/combobox.css' %}"/>
{% endblock %}

{% block script %}

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="{% static 'wineshops/js/ays-beforeunload-shim.js' %}"></script>
    <script src="{% static 'wineshops/js/jquery.are-you-sure.js' %}"></script>
    <script>
        $(function () {
            $('form').areYouSure({'message': 'Cette page contient des modifications non sauvegardées.'});
            $('input, select').change(function () {
                $(this).css("background-color", "#FFFAC9");
            });// code duplicated for combobox in autocomplete.js
        })
    </script>
    {% block extrascript %}{% endblock %}
{% endblock %}

{% block content %}

    <div id="form">
        {% block form %}{% endblock %}
    </div>

    {% if not filled %}
        <div class="warning" title="Magasin non renseigné">
            <p>Attention, les informations de votre magasin ne sont pas renseignées.</p>
            <p>Tant que ce ne sera pas fait, aucun utilisateur ne pourra vous trouver.</p>
            <p>Veuillez cliquer sur l'onglet "Mon magasion" pour les renseigner</p>
        </div>
    {% endif %}
{% endblock %}
