{% extends "wineshops/base_edit.html" %}

{% block form %}


    <ol id="toc">
        <li class="current"><a href="/edit/user" class="active">Mon compte</a></li>
        <li><a href="/edit/wineshop" class="inactive">Mon magasin</a></li>
        <li><a href="/edit/catalog" class="inactive">Mes vins</a></li>
    </ol>

    <div id="fheader">
        <form action="/wineshops/edit/user/" method="post">{% csrf_token %}


            <h2>Mon compte</h2>
            Les informations ci-dessous ne seront pas visibles par les utilisateurs.
            <br>
            Elles sont utilisées par LesCavistes pour vous contacter uniquement.
            <br><br>
            <table>
                {{ form.as_table }}
            </table>
            <br><br>
            <input type="submit" value="Valider"/>


            <a href="{% url 'user_profile:change_password' %}">Changer le mot de passe</a>


        </form>
    </div>

{% endblock %}