{% extends "wineshops/base_edit.html" %}
{% load staticfiles %}

{% block extrastyle %}
    <link rel="stylesheet" href="{% static 'wineshops/form.css' %}"/>
    <style>
        p {
            width: 100px;
        }

    </style>
{% endblock %}

{% block script %}
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true"></script>
    <script type="text/javascript" src="{% static 'wineshops/js/maps.js' %}"></script>
{% endblock %}


{% block form %}

    <ol id="toc">
        <li><a href="/edit/user" class="active">Mon compte</a></li>
        <li class="current"><a href="/edit/wineshop" class="inactive">Mon magasin</a></li>
        <li><a href="/edit/catalog" class="inactive">Mes vins</a></li>
    </ol>

    <div id="fheader">

        <form action="/wineshops/edit/wineshop/" method="post">{% csrf_token %}
            <h2>Mon magasin</h2>
            Les informations ci-dessous seront visibles sur le site
            <br>
            et sur les applications mobiles par tous les utilsateurs.
            {{ form.as_p }}
            <input type="submit" value="Valider" onclick="codeAddress()"/>

        </form>

        <div onload="initialize()">
            <div id="map-canvas"  style="width: 320px; height: 480px;"></div>
        </div>
    </div>


{% endblock %}