{% extends "wineshops/base_edit.html" %}
{% load staticfiles %}

{% block extrastyle %}
    <link rel="stylesheet" href="{% static 'wineshops/form.css' %}"/>
    <link rel="stylesheet" href="{% static 'wineshops/catalog-form.css' %}"/>
    <link rel="stylesheet" href="{% static 'wineshops/pagination.css' %}"/>

{% endblock %}

{% block extrascript %}
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'wineshops/js/table-actions.js' %}"></script>

{% endblock %}



{% block form %}

    <ol id="toc">
        <li><a href="/edit/user" class="active">Mon compte</a></li>
        <li><a href="/edit/wineshop" class="inactive">Mon magasin</a></li>
        <li class="current"><a href="/edit/catalog" class="inactive">Mes vins</a></li>
    </ol>

    <div id="content-header" class="flex">


        <div id="content-main">
            <h2>Mes vins</h2>
            Lorsqu'un utilisateur fait une recherche sur un von ou un terrroir en particulier,
            seuls les cavistes qui ont renseigné leur catalogue de vin apparaissent.<br>
            Au mieux votre catalogue est renseigné, au plus vous aurez de chances d'apparaitre dans les résultats !<br><br>
            <ul class="object-tools">

                <li>

                    <a href="/wineshops/create/wine/" class="addlink">
                        Ajouter un vin
                    </a>
                </li>

            </ul>


            <div class="module" id="changelist">


                <div class="actions">
                    <label>Action : <select name="action" id="action">
                        <option value="" selected="selected">---------</option>
                        <option value="delete_selected">Supprimer les vins sélectionnés</option>
                        <option value="in_stock_selected">Marquer disponible les vins sélectionnés</option>
                        <option value="out_stock_selected">Marquer indisponible les vins sélectionnés</option>

                    </select></label><input class="select-across" name="select_across" type="hidden" value="0">
                    <button type="submit" class="form-button" title="Run the selected action" name="index"
                            value="0">Ok
                    </button>

                    <script type="text/javascript">var _actions_icnt = "1";</script>
                    <span class="action-counter" style="display: inline;"><span id="count-selected">0</span> sur <span
                            id="count-total">0</span> sélectionné(s)</span>

                </div>


                <div class="results">
                    <table id="result_list">
                        <thead>
                        <tr>

                            <th scope="col" class="action-checkbox-column">

                                <div class="text"><span><input type="checkbox" id="action-toggle"
                                                               style="display: inline-block;"></span></div>
                                <div class="clear"></div>
                            </th>
                            <th scope="col" class="action-checkbox-column">

                                <div class="clear"></div>
                            </th>

                            <th scope="col" class="sortable column-producer">
                                <div class="text"><a href="?o=1">Producteur</a></div>
                                <div class="clear"></div>
                            </th>
                            <th scope="col" class="sortable column-country">
                                <div class="text"><a href="?o=2">Pays</a></div>
                                <div class="clear"></div>
                            </th>
                            <th scope="col" class="sortable column-region">
                                <div class="text"><a href="?o=3">Région</a></div>
                                <div class="clear"></div>
                            </th>
                            <th scope="col" class="sortable column-area">
                                <div class="text"><a href="?o=4">Terroir</a></div>
                                <div class="clear"></div>
                            </th>
                            <th scope="col" class="sortable column-color">
                                <div class="text"><a href="?o=5">Couleur</a></div>
                                <div class="clear"></div>
                            </th>
                            <th scope="col" class="sortable column-varietal">
                                <div class="text"><a href="?o=6">Cépage</a></div>
                                <div class="clear"></div>
                            </th>
                            <th scope="col" class="sortable column-classification">
                                <div class="text"><a href="?o=7">Classification</a></div>
                                <div class="clear"></div>
                            </th>
                            <th scope="col" class="sortable column-vintage">
                                <div class="text"><a href="?o=8">Millésime</a></div>
                                <div class="clear"></div>
                            </th>
                            <th scope="col" class="sortable column-capacity">
                                <div class="text"><a href="?o=9">Contenance(cl)</a></div>
                                <div class="clear"></div>
                            </th>
                            <th scope="col" class="sortable column-price_min">
                                <div class="text"><a href="?o=10">Prix min.</a></div>
                                <div class="clear"></div>
                            </th>
                            <th scope="col" class="sortable column-price_max">
                                <div class="text"><a href="?o=11">Prix max.</a></div>
                                <div class="clear"></div>
                            </th>
                            <th scope="col" class="sortable column-in_stock">
                                <div class="text"><a href="?o=12">En stock</a></div>
                                <div class="clear"></div>
                            </th>

                        </tr>
                        </thead>
                        <tbody>

                        {% for wine in objects %}
                            <tr class="row2">
                                <td class="action-checkbox">
                                    <input class="action-select" name="_selected_action" type="checkbox"
                                           value="{{ wine.id }}">
                                </td>
                                <td class="open"><a href="/wineshops/edit/wine/{{ wine.id }}/"><img
                                        src="{% static 'wineshops/images/go.png' %}"></a></td>
                                <td class="field-producer">{{ wine.producer }}</td>
                                <td class="field-area nowrap">{{ wine.country.name }}</td>
                                <td class="field-area nowrap">{{ wine.region.name }}</td>
                                <td class="field-area nowrap">{{ wine.area.name }}</td>
                                <td class="field-color nowrap">{{ wine.color }}</td>
                                <td class="field-varietal nowrap">{{ wine.varietal|default_if_none:"" }}</td>
                                <td class="field-classification">{{ wine.classification }}</td>
                                <td class="field-vintage">{{ wine.vintage|default_if_none:"" }}</td>
                                <td class="field-capacity">{{ wine.capacity|default_if_none:"" }}</td>
                                <td class="field-capacity">{{ wine.price_min|floatformat:2|default_if_none:"" }}</td>
                                <td class="field-capacity">{{ wine.price_max|floatformat:2|default_if_none:"" }}</td>
                                <td class="field-capacity">{% if wine.in_stock %}Oui{% else %}Non{% endif %}</td>

                            </tr>
                        {% endfor %}


                        </tbody>
                    </table>
                </div>

                <p class="paginator">
                {% if paginator.page_range|length > 1 %}
                    {% for i in paginator.page_range %}
                        {% if i != page %}
                            <div class="page link"><a class="page_link" href="?page={{ i }}&o={{ order }}"> {{ i }} </a></div>
                        {% else %}
                            <div class="page nolink">{{ i }}</div>
                        {% endif %}
                    {% endfor %}
                {% endif %}

                <div style="float:right; margin-right:10px">
                    {{ paginator.count }} vin(s)
                </div>
                </p>

            </div>
        </div>

        <br class="clear">
    </div>

        {% if order %}
    <script>
        sort({{ order }});
    </script>
    {% endif %}
{% endblock %}