{% extends "wineshops/base_edit.html" %}
{% load staticfiles %}

{% block extrascript %}
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js"></script>
    <script type="text/javascript" src="{% static 'wineshops/js/autocomplete.js' %}"></script>

{% endblock %}


{% block form %}
    <style>
        .ui-helper-hidden-accessible {
            display: none;
        }
    </style>


    <ol id="toc">
        <li><a href="/edit/user" class="active">Mon compte</a></li>
        <li><a href="/edit/wineshop" class="inactive">Mon magasin</a></li>
        <li class="current"><a href="/edit/catalog" class="inactive">Mes vins</a></li>
    </ol>

    <div id="fheader">
        <form action="" method="post" onsubmit="setHiddenFields();">{% csrf_token %}
            <h2>{{ title }}</h2>

            <table>
                <tbody>
                <tr>
                    <th>
                        <label>Producteur :</label><br>
                    </th>
                    <td>
                        {{ form.producer }}
                    </td>
                </tr>
                <tr>
                    <th>
                        <label>Pays :</label>
                    </th>
                    <td>
                        <select id="id_country" name="country">
                            <option value="" selected="selected">---------</option>
                            {% for country in countries %}
                                <option value="{{ country.id }}">{{ country.name }}</option>
                            {% endfor %}
                        </select>
                        {{ form.country_hidden }}
                        <input type="hidden" id="former_country" value="{{ form.country.value }}">
                    </td>
                </tr>
                <tr>
                    <th>
                        <label>Vignoble :</label>
                    </th>
                    <td>
                        <select id="id_region" name="region">
                            <option value="" selected="selected">---------</option>
                        </select>
                        {{ form.region_hidden }}
                        <input type="hidden" id="former_region" value="{{ form.region.value }}">
                    </td>
                </tr>
                <tr>
                    <th>
                        <label>Appelation :</label>
                    </th>
                    <td>
                        <select id="id_area" name="area">
                            <option value="" selected="selected">---------</option>
                        </select>
                        <input type="hidden" id="former_area" value="{{ form.area.value }}">
                        {{ form.area_hidden }}
                    </td>
                </tr>
                <tr>
                    <th><label>Millésime :</label></th>
                    <td>{{ form.vintage }}</td>
                </tr>
                <tr>
                    <th><label>Classification :</label></th>
                    <td>{{ form.classification }}</td>
                </tr>
                <tr>
                    <th><label>Couleur :</label></th>
                    <td>
                        <select id="id_color" name="color">
                            <option value="" selected="selected">---------</option>
                            {% for color in colors %}
                                <option value="{{ color.id }}">{{ color.name }}</option>
                            {% endfor %}
                        </select>
                        {{ form.color_hidden }}
                        <input type="hidden" id="former_color" value="{{ form.color.value }}">
                    </td>
                    <td class="errorlist">{{ form.color.errors|first }}</td>
                </tr>
                <tr>
                    <th><label>Cépage :</label></th>
                    <td>{{ form.varietal }}</td>
                </tr>
                <tr>
                    <th><label>Contenance :</label></th>
                                        <td>
                        <select id="id_capacity" name="capacity">
                            <option value="" selected="selected">---------</option>
                            {% for capacity in capacities %}
                                <option value="{{ capacity.id }}">{{ capacity.volume|floatformat }}</option>
                            {% endfor %}
                        </select>
                        {{ form.capacity_hidden }}
                        <input type="hidden" id="former_capacity" value="{{ form.capacity.value }}">
                    </td>
                    <td class="errorlist">{{ form.capacity.errors|first }}</td>
                </tr>
                <tr>
                    <th><label>Prix minimum :</label></th>
                    <th>{{ form.price_min }}</th>
                </tr>
                <tr>
                    <th><label>Prix maximum :</label></th>
                    <td>{{ form.price_max }}</td>
                </tr>
                <tr>
                    <th><label>En stock :</label></th>
                    <td>{{ form.in_stock }}</td>
                </tr>
                </tbody>
            </table>

            <br>

            <div class="center">
                <input type="submit" value="Valider"/>
            </div>
        </form>

    </div>
{% endblock %}