{% extends "wineshops/base_edit.html" %}
{% load staticfiles %}

{% block script %}
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script type="text/javascript" src="{% static 'wineshops/js/autocomplete.js' %}"></script>

{% endblock %}


{% block extrastyle %}
    <link rel="stylesheet" href="{% static 'wineshops/form.css' %}"/>
    <link rel="stylesheet" href="{% static 'wineshops/combobox.css' %}"/>
{% endblock %}


{% block form %}


    <ol id="toc">
        <li><a href="/edit/user" class="active">Mon compte</a></li>
        <li><a href="/edit/wineshop" class="inactive">Mon magasin</a></li>
        <li class="current"><a href="/edit/catalog" class="inactive">Mes vins</a></li>
    </ol>
    {{ form.errors }}
    <div id="fheader">
        <form action="" method="post">{% csrf_token %}

            <h2>Ajouter un vin</h2>

            <div class="fieldWrapper">
                <label>Producteur :</label><br>
                {{ form.producer }}
            </div>
            <br>

            <div class="fieldWrapper ui-widget">
                <label>Pays :</label><br>
                <select id="id_country" name="country">
                    <option value="" selected="selected">---------</option>
                    {% for country in countries %}
                        <option value="{{ country.id }}">{{ country.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <br>
            {{ form.country_hidden }}

            <div class="fieldWrapper">
                <label>Région :</label><br>
                {{ form.region }}
            </div>
            <br>

            <div class="fieldWrapper">
                <label>Terroir :</label><br>
                {{ form.area }}
            </div>
            <br>

            <div class="fieldWrapper">
                <label>Millésime :</label><br>
                {{ form.vintage }}
            </div>
            <br>

            <div class="fieldWrapper">
                <label>Classification :</label><br>
                {{ form.classification }}
            </div>
            <br>

            <div class="fieldWrapper">
                <label>Couleur :</label><br>
                {{ form.color }}
            </div>
            <br>

            <div class="fieldWrapper">
                <label>Cépage :</label><br>
                {{ form.varietal }}
            </div>
            <br>

            <div class="fieldWrapper">
                <label>Contenance :</label><br>
                {{ form.capacity }}
            </div>
            <br>

            <div class="fieldWrapper">
                <label>Prix minimum :</label><br>
                {{ form.price_min }}
            </div>
            <br>

            <div class="fieldWrapper">
                <label>Prix maximum :</label><br>
                {{ form.price_max }}
            </div>
            <br>

            <input type="submit" value="Valider"/>
        </form>

    </div>
{% endblock %}