
  th{
    text-align: right;
}

.center{
    horiz-align: center;
    text-align: center;
}
#fheader{
    border: #A53F4F solid 3px;
	clear: left;
	padding: 1em;
    margin: 0 auto;
    width: 100%;
}

form{
    padding:10px;
    text-align: left;
    display: inline-block;
}

.form-p{
    width:100px;
}

.fclear {
    clear: both;
}

ol#toc {
	height: 2em;
	list-style: none;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    display: inline-block;
    margin: 0 auto -4px;
}

ol#toc a {
	color: #767676;
	float: left;
	line-height: 2em;
	outline: none;
	padding-right: 10px;
	text-decoration: none;
}

ol#toc li.current {
    background: #A53F4F 0 -60px;
}

ol#toc li.current a {
	background-position: 100% -60px;
	color: #fff;
	font-weight: bold;
}

ol#toc li {
	color:#202020;
	float: left;
	margin: 0 1px 0 0;
	padding-left: 10px;
}

input[readonly], input[readonly="readonly"] {
    color:gray;
}

#map{
    display: inline-block;
}