#fheader{
    background-color:#ffffff;
    display: -webkit-flex;
    display:         flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;

    border: #A53F4F solid 3px;
	clear: left;
	padding: 1em;
}

form{
    padding:10px;
    vertical-align:middle;
}

p{
    width:100px;
}

.fclear {
    clear: both;
}


ol#toc {
	height: 2em;
	list-style: none;
	margin: 0;
	padding: 0;
        display: -webkit-flex;
    display:         flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}

ol#toc a {
	color: #767676;
	float: left;
	line-height: 2em;
	outline: none;
	padding-right: 10px;
	text-decoration: none;
}

ol#toc li.current {
	background-color: #A53F4F;
	background-position: 0 -60px;
}

ol#toc li.current a {
	background-position: 100% -60px;
	color: #fff;
	font-weight: bold;
}

ol#toc li {
	color:#202020;
	float: left;
	margin: 0 1px 0 0;
	padding-left: 10px;
}

input[readonly], input[readonly="readonly"] {
    color:gray;
}